<assembly>
	<id>ROSETTA-DEMO-UI-App</id>
	<formats>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>src/main/content/jcr_root/apps</directory>
			<outputDirectory>jcr_root/apps</outputDirectory>
			<excludes>
				<exclude>**/.vlt</exclude>
				<exclude>**/target/**</exclude>
				<exclude>**/src/test/**</exclude>
				<exclude>**/.gitignore</exclude>
				<exclude>**/.settings</exclude>
				<exclude>**/.project</exclude>
				<exclude>**/.checkstyle</exclude>
				<exclude>**/.classpath</exclude>
			</excludes>
		</fileSet>
		<fileSet>
			<directory>src/main/content/jcr_root/etc</directory>
			<outputDirectory>jcr_root/etc</outputDirectory>
			<excludes>
				<exclude>**/.vlt</exclude>
			</excludes>
		</fileSet>
		<fileSet>
			<directory>src/main/content/jcr_root/libs</directory>
			<outputDirectory>jcr_root/libs</outputDirectory>
			<excludes>
				<exclude>**/.vlt</exclude>
			</excludes>
		</fileSet>
		<fileSet>
			<directory>src/main/content/META-INF</directory>
			<outputDirectory>META-INF</outputDirectory>
			<includes>
				<include>**/*.xml</include>
			</includes>
		</fileSet>
	</fileSets>
</assembly>
